<a href="https://colab.research.google.com/github/sujalkakade/python-daily-class/blob/main/SK_15_09_2025%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Dict = {"Roll Number":     162,
       "Name"        :     "sujal",
       "Address"     :     "chikodi",
       "CGPA"        :     7.53,
        "Cource"     :     "MCA",
        "Year"       :     2025,
        "Age"        :     19,


}
print(Dict)
print(len(Dict))
Dict["Gender"]="Male"
print(Dict)
Dict["Mobile Number"]="9740007060"
print(Dict)
Dict["College"]="BK BCA college chikodi"
print(Dict)
Dict["Univercity"]="Rani chenanam univercity"
print(Dict)
del Dict["Gender"]
print(Dict)
print(Dict["College"])
print(Dict)
print(Dict["Age"])
print(Dict)
del Dict["Address"]
print(Dict)

{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19}
7
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male'}
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile Number': '9740007060'}
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi'}
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Gender': 'Male', 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi', 'Univercity': 'Rani chenanam univercity'}
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi', 'Univercity': 'Rani chenanam univercity'}
BK BCA college chikodi
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi', 'Univercity': 'Rani chenanam univercity'}
19
{'Roll Number': 162, 'Name': 'sujal', 'Address': 'chikodi', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi', 'Univercity': 'Rani chenanam univercity'}
{'Roll Number': 162, 'Name': 'sujal', 'CGPA': 7.53, 'Cource': 'MCA', 'Year': 2025, 'Age': 19, 'Mobile Number': '9740007060', 'College': 'BK BCA college chikodi', 'Univercity': 'Rani chenanam univercity'}

In [ ]:
Name={"Name":"sujal",
      "name": "sujal",
      "F_name":"sujal",
      "L-name":"kakade",
      }
print(Name)

{'Name': 'sujal', 'name': 'sujal', 'F_name': 'sujal', 'L-name': 'kakade'}

In [ ]:
a=10
b=3
c=a+b
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))
x=2.5
y=3.5
print(type(x+y))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
#int->float
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [ ]:
#int->float
i= True
print(type(i))
j=5
print(type(i+j))

<class 'bool'>
<class 'int'>

In [ ]:
M = 2.9
N = False
O = M-N
print(type(O))

<class 'float'>

In [ ]:
P=True
Q=False
R=P+Q
print(type(R))

<class 'int'>

In [ ]:
S=2.6
T=False
print(type(S*T))

<class 'float'>

In [ ]:
num=3.12
print(type(num))#float
add=int(num)
print(type(add))#int
#Explict
add=int(num)

mul=float(add)
print(type(mul))

<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
Num="101"
print(type(Num))
add=int(Num)
print(type(add))

men=True
print(type(men))
add=int(men)
print(type(add))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [ ]:
print(type(str(100)))

<class 'str'>

In [ ]:
Demo=1
print(type(Demo))

print(type(bool(Demo)))

<class 'int'>
<class 'bool'>

In [ ]:
Demo=9.99
print(type(Demo))

print(type(bool(Demo)))

<class 'float'>
<class 'bool'>

In [ ]:
Demo=False
print(type(Demo))

print(type(float(Demo)))

<class 'bool'>
<class 'float'>

In [ ]:
Demo=False
print(type(Demo))

print(type(str(Demo)))

<class 'bool'>
<class 'str'>

In [ ]:
Demo=9.99
print=type(Demo)
Ex=
print(type(Demo))

<class 'float'>
<class 'float'>

In [ ]:
Num1="sujal"
print(type(Num1))

Ex1=list(Num1)
print(type(Ex1))

Num2=(1,2,3,4,5)
print(type(Num2))

Ex2=list(Num2)
print(type(Ex2))

Num3={1,23,4,5}
print(type(Num3))

Ex3=list(Num3)
print(type(Ex3))


Num4={}
print(type(Num4))
Ex4=list(Num4)
print(type(Ex4))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'list'>

In [ ]:
print("a=10,b=20")

a=10,b=20

In [ ]:
Num2={("a",1),("b",2),("C",3)}
print(type(Num2))

Ex2=dict(Num2)
print(type(Ex2))

<class 'set'>
<class 'dict'>

In [ ]:
Num3=(("Name","sujal"),("age" ,19))
print(type(Num3))

Ex3=dict(Num3)
print(type(Ex3))

<class 'tuple'>
<class 'dict'>

In [ ]:
Num4={("Roll Number",501),("Section","C")}
print(type(Num4))

Ex4=dict(Num4)
print(type(Ex4))

<class 'set'>
<class 'dict'>

In [ ]:
#I/P a=10,b=20
#O/P a=20,b=10

A=10
B=20
print("Before Swapping")
print("A=",A,"B=",B)

print("After Swapping")
temp=A
A=B
B=temp
print("A=",A,"B=",B)

Before Swapping
A= 10 B= 20
After Swapping
A= 20 B= 10