<a href="https://colab.research.google.com/github/sujalkakade/python-daily-class/blob/main/SK_19_03_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
# 1 Example sum of number using *args
def add (*args):
   total=0
   for num in args:
      total+=num
   print("Total value is:",total)
add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is: 15
Total value is: 18
Total value is: 90

In [73]:
def print_details (**kwargs):
  for key, value in kwargs.items():
     print(f"{key}={value}")

print_details(name='sujal',age=19,city='chikodi')

name=sujal
age=19
city=chikodi

In [74]:
def details (** kwargs):
    for key,value in kwargs.items():
      print(f'My details is {key} and {value}')

details(course="BCA",section='C',college="BK collge")
details(place="chikodi")
details(roll_num=201,T_subject=7)
details(Laptop="Lenovo",O_S="windo",year = 2025,  version = "windows")

My details is course and BCA
My details is section and C
My details is college and BK collge
My details is place and chikodi
My details is roll_num and 201
My details is T_subject and 7
My details is Laptop and Lenovo
My details is O_S and windo
My details is year and 2025
My details is version and windows

In [75]:
# Example of *args and **kwargs
def Show_values(*args,**kwargs):
    print("Positional Arguments represented in Tuple",args)
    print("Key - words Arguments represented in Dict ",kwargs)
Show_values(1,2,3,4,name="sujal")

Show_values(5,8,1,10,Class = "BCA C section",Gender = "Male")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key - words Arguments represented in Dict  {'name': 'sujal'}
Positional Arguments represented in Tuple (5, 8, 1, 10)
Key - words Arguments represented in Dict  {'Class': 'BCA C section', 'Gender': 'Male'}

In [76]:
def fact (num):
    if num==0 or num ==1:
      return 1
    else:
       return num*fact(num-1)
(fact(5))

120

In [77]:
def Sum (num):
  if num==0:
     return num
  else:
     return num+Sum(num-1)
  print("Sum of N natural number is :", Sum (10))

In [78]:
# Fibonacci series/ number using function recursion
def fibo (num):
  if num<=1:
    return num
  else:
    return fibo (num-1) + fibo (num-2)

for i in range(11):
  print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [80]:
name="vasu"
print(name[:4])

vasu

In [102]:
class fruit:
  colour="orange"
  price=250
  Teste='sweet'
  Shape= "circle"
  def juice (self):
    print("good")
orange=fruit()
print("orange colour is",orange.colour)
orange.juice()

orange colour is orange
good

In [119]:
class flower:
  smell ="nice"
  petal="5"
  size="medium"
  gender="male"
  validity="1.5"
  def decoration(self):
    print("hello good morning")
  def gift(self):
    print("good afternon")
  def marriage(self):
    print("marriage")
  def deat(self):
     print("This flower using for death time")

Ob  = flower()
Ob.marriage()
print(Ob.gender)
Ob.decoration()

marriage
male
hello good morning

In [124]:

class fan:
  colours="black"
  wings=3
  c_name="bajaj"
  price=1500
  warranty="2 years"
  def start(self):
    print("when click on button it'll start")
  def speed(self):
    print("based on condition it'll move fast")
  def stop(self):
    print("when click on off button it'll stop")

obj=fan()
print(obj.c_name+" "+obj.warranty)
obj.stop()
obj.start()

bajaj 2 years
when click on off button it'll stop
when click on button it'll start

In [128]:
def fun (name):
    print("My name is a ",name)
fun ("sujal")

My name is a  sujal

In [154]:
# Banking Example
class Bank :
    def __init__(self,balance):
      self.balance = balance

    def dDeposit(self,amount):
        self.balance += amount

    def Withdraw(self,amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Transaction Successfully")
        else:
            print("Insufficient balance")

    def re_balance(self):
        return self.balance

Obj = Bank(1000)
print(Obj.balance)
Obj.dDeposit(500)
print(Obj.balance)
Obj.Withdraw(700)
print(Obj.re_balance())
Obj.dDeposit(1000)
print("Current total balance is : ",Obj.balance)
Obj.Withdraw(2000)
Obj.Withdraw(300)
print(Obj.re_balance())

1000
1500
Transaction Successfully
800
Current total balance is :  1800
Insufficient balance
Transaction Successfully
1500

In [165]:
from logging import PlaceHolder
#Encapulation Example
class student :
  def __init__(self,name,marks,place):
     self.__name = name        #private variable
     self.__marks = marks      #private variable
     self.__place = place      #public variable

  def set_method(self,name,marks):
      self.__name =name
      self.__marks=marks


  def get_method(self):
    return self.__name +" "+str(self.__marks)


Obj = student("Sujal",85,"chikodi")
Obj.set_method("sujal", 90) # Added a placeholder for marks
print(Obj.get_method()) # Corrected the method call

sujal 90

In [168]:
clss parent:
  def Work(self)
      print("My parent are doing forming")

clss children(Parent):
  def study(self)
        print("I'm studing BCA in BK College")

ch = children()
ch.Work()
ch.study()

SyntaxError: invalid syntax (ipython-input-793207433.py, line 1)

In [189]:
class Father:
   def Hi(self):
       print("My father is my first hero")

class Mother :
  def by(self):
      print("My mother is a house wife")


class child (Father , Mother):
     def bye (self):
       print("I'm working as a freelancer")

Obj = child()
Obj.Hi()
Obj.by()
Obj.bye()

My father is my first hero
My mother is a house wife
I'm working as a freelancer

In [192]:
class Grand_Parent:
  def Formar(self):
    print("💢💢💢💢")

class Parent(Grand_Parent):
   def House(self):
      print("My parent are doing forming")

class Child(Parent):
  def study(self):
        print("I'm studing BCA in BK College")

Obj = Child()
Obj.House()
Obj.Formar()

My parent are doing forming
💢💢💢💢

In [199]:
class parent :
  def business(selfl):
      print("my parentare doing business")

class child(parent):
   def study(self):
       print("'m studing BCA")

class child2(parent):
   def study(self):
       print("i'm studying BCA")

  Ch = child()
  Ch.business()
  Ch.study()

  ch2 = child2()
  ch2.business()
  ch2.study()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 13)

In [201]:
class A:
  def Hi(self):
    print("Hiiiiiiiii")

class B(A):
  def Hello(self):
    print("Helloooooo")

class D(B,C):
  def Good (self):
    print("Goodddddddd")

 Obj = D()
 Obj.Hi()
 Obj.Hello()
 Obj.Bye()
 Oj.Good()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 13)

In [ ]:
class