<a href="https://colab.research.google.com/github/sujalkakade/python-daily-class/blob/main/SK_13_09_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a, b, c = "Good", "Morning", 18
print(a, b, c)

Good Morning 18

In [ ]:
Name, College, Degree, Roll= "Sharath", "BK", "BCA", 101
print("Hi, Good Morning, I'm",Name,"i'm studying",Degree,"in",College,"College at Chikodi","my roll no is",Roll)

Hi, Good Morning, I'm Sharath i'm studying BCA in BK College at Chikodi my roll no is 101

In [ ]:
x = y = z = 1001
print(x,y,z)

1001 1001 1001

In [ ]:
A = B, C = "College", 25
print(B, C, A)

College 25 ('College', 25)

In [ ]:
A = 10
B = 20
print("Addition of",A,"and",B,"is =",A+B)

Addition of 10 and 20 is = 30

In [ ]:
x = 100
print (type(100))

<class 'int'>

In [ ]:
College = 3.33
print (type(College))

<class 'float'>

In [ ]:
Name = 3.17
print(type(Name))

<class 'float'>

In [ ]:
Run = 20.0
print(type(Run))

<class 'float'>

In [ ]:
Programe = "Programe"
print(type(Programe))

<class 'str'>

In [ ]:
string = "Python programming languages"
print(string)

Python programming languages

In [ ]:
first = "BKC"
Second = "College"
print(((first + Second)+"\n")*5)

BKCCollege
BKCCollege
BKCCollege
BKCCollege
BKCCollege

In [ ]:
Name = "python programing languages"
print(Name[::-3])

san irrnt

In [ ]:
Details =''' multi line comments
hi, Good Morning
'''
print(Details)

 multi line comments
hi, Good Morning

In [ ]:
Details = [101]
print(Details)
print(type(Details))
Details.append(85.12)
print(Details)
Details.append(True)
print(Details)
print(len(Details))
print(Details.pop())
print(Details)
Details.append("Owais")
print(Details)
Details.append(-99)
print(Details)
print(len(Details))
print(Details[2])
print(Details[-1])
Details.append("BKC College")
print(Details)
Details[3]=99
print(Details)
print(Details[2:4])
Details.insert(2,False)
print(Details)
Details.remove(False)
print(Details)
print(len(Details))
print(Details[4])
print(Details[::-1])
print(Details.count(101))
print(Details.clear())
print(Details)
print(type(Details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'Owais']
[101, 85.12, 'Owais', -99]
4
Owais
-99
[101, 85.12, 'Owais', -99, 'BKC College']
[101, 85.12, 'Owais', 99, 'BKC College']
['Owais', 99]
[101, 85.12, False, 'Owais', 99, 'BKC College']
[101, 85.12, 'Owais', 99, 'BKC College']
5
BKC College
['BKC College', 99, 'Owais', 85.12, 101]
1
None
[]
<class 'list'>