<a href="https://colab.research.google.com/github/sujalkakade/python-daily-class/blob/main/SK_17_09_2025_%2C_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
for i in range(1,11):
    sum+=i
print("Sum of N Natural number ",sum)

Sum of N Natural number  55

In [ ]:
num = 4
for i in range(1,11):
  print(num,"*",i,"=",num*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
for i in range (2, 101,2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
fact=1
for i in range(1,6):
  fact=fact*i
print("Factorial of 5 is ",fact)

Factorial of 5 is  120

In [ ]:
a,b= 0,1
for i in    range (1,14):
   print(a,end=" ")
   a,b=b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144